* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
}

body {
    background-image: url("../images/background.png");
    background-color: rgb(83, 83, 83);
    transition: 1s;
}

h1 {
    top: 10px;
    color:rgb(255, 255, 255);
    font-size: 2vw;
    background-color: gray;
    text-indent: 30px;
    position: relative;
    z-index: 1;
    width: 90%;
    border-radius: 50px;
    padding: 10px;
    left: 20px;
    margin-bottom: 20px;
    min-width: 1000px;
}

.Production {
    color:  rgb(174, 216, 110);


}


#time {
    font-size: 2vw; 
    position: relative; 
    display: block;
    height: fit-content;
    width: fit-content;
    float: right;
    right: 50px;
    color: rgb(174, 216, 110);

}

#myInput {
    width: 300PX;
    font-size: 50%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 50Px;
    cursor: pointer;
    margin-left: 50px;
  }


table {
    float: left;
    max-width: 800px;
    min-width:800px;
	table-layout:fixed;
    margin:auto;
    border-collapse: collapse;
    scroll-behavior: smooth;
    z-index: 1;
    padding: 10px;
    margin-left: 20px;
    overflow: hidden;
    display: block;
    background-color: rgb(66, 66, 66);
    border-radius: 25px;
}


th, td {
    padding:5px 10px;
    
}
thead {
    border-radius: 50px;
	background-color: gray;
	display:table;
	width:100%;
    width:calc(100% - 18px);
    text-align: left;
    margin-bottom: 10px;
}
tbody {
    height: 70%;
	overflow: auto;
    overflow-x:hidden;
	display:block;
    width:100%;
    font-size: 80%;
}
tbody tr {
	display:table;
	width:100%;
    table-layout:fixed;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(66, 66, 66);
    border-radius: 25px;
}

.tablerows:hover, #DisconnectedRow:hover {
    background-color: rgb(105, 105, 105);
    border-radius: 25px;
}


#DisconnectedRow {
    background-color: rgb(185, 84, 84);
    color: white;
    border-radius: 25px;
    
}

tbody::-webkit-scrollbar {
    width: 8px;
}

tbody.thin::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgb(92, 92, 92);
    margin: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background:  rgb(174, 216, 110);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100, 100, 100, 0.4); 
}

.customerHeader {
    border-radius: 50px 0px 0px 50px;   
}

.customerHeader, .customer {
    width: 250px;
    min-width: 250px;  
}

.customerHeader:Hover {
    background: linear-gradient( #23A6D5, #23D5AB);
    color: black;
    cursor: pointer;
}

.TimeHeader {
    border-radius: 0px 50px 50px 0px;
    padding-right: 50px;
}

.stationHeader:hover {
    background: linear-gradient( #23A6D5, #23D5AB);
    color: black;
    cursor: pointer;
}
.customer {
    text-align: left;
    color: rgb(207, 207, 207);
    font-size: 15px;
    font-weight: bolder;
}


.station {
    color: rgb(255, 255, 255);
}

.IP {
    color: rgb(207, 207, 207);
}

.Date {
    color: rgb(207, 207, 207);

}

.time {
    color: rgb(207, 207, 207);
    border-radius: 0px 50px 50px 0px;

}


#PWCS {
    color: rgb(255, 255, 0);

}

#AACPS{

    color: rgb(183, 107, 255);
}

#GHOST {
    color: rgb(0, 0, 255);

}

#DISCONNECTED {
    color: rgb(207, 207, 207);

}


.sidepanel {
    display: inline-block;
    width: 300px;
    min-width: 150px;
    position: fixed;
	color: #fff;
	background: linear-gradient( #23A6D5, #23D5AB);
    margin: 20px;
    border-radius: 25px;
    height: 50%;
}

.sidePanelTitle {
    color: rgb(51, 49, 49);
    margin: 10px;
    background-color: gray;
    border-radius: 25px;
   text-align: center;
    padding: 5px;
    font-size: 100%;
    width: 90%;
    float: center;

}

.sidePanelContainer {
    padding: 5px;
}

.sidePanelData {
    width: 100%;
    color: rgb(97, 96, 96);
    width: 90%;
    padding: 5px;
    text-indent: 20px;
}