* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 100;
}

body {
    background-color: rgb(51, 49, 49);

}

h1 {
    top: 10px;
    color:rgb(255, 255, 255);
    font-size: 2vw;
    background-color: gray;
    text-indent: 30px;
    position: relative;
    z-index: 1;
    width: 90%;
    border-radius: 50px;
    padding: 10px;
    left: 20px;
    margin-bottom: 20px;
}

.Production {
    color: rgb(194, 194, 194);


}


#time {
    color:rgb(221, 221, 221);
    font-size: 2vw;
    position: relative;
    float: right;
    display: block;
    height: fit-content;
    width: fit-content;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 500PX;
    font-size: 16px;
    padding: 10px 20px 10px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 50Px;
    cursor: pointer;
    display: block;
    float: left;
    right: 30px;
    margin-left: 30px;
  }

table {
    float: left;
    max-width: 1000px;
    min-width:800px;
	table-layout:fixed;
    margin:auto;
    border-collapse: collapse;
    scroll-behavior: smooth;
    z-index: 1;
    padding: 10px;
    margin-left: 20px;
    overflow: hidden;
    display: block;
}


th, td {
    padding:5px 10px;
    
}
thead {
    border-radius: 50px;
	background:#f9f9f9;
	display:table;
	width:100%;
	width:calc(100% - 18px);
}
tbody {
    height: 300px;
	overflow: auto;
    overflow-x:hidden;
	display:block;
    width:100%;
    font-size: 80%;
}
tbody tr {
	display:table;
	width:100%;
	table-layout:fixed;
}

.tablerows:hover {
    background-color: black;
}

tbody::-webkit-scrollbar {
    width: 8px;
}

tbody.thin::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(100,100,100,0.4); 
}

.customerHeader {
    border-radius: 50px 0px 0px 50px;   
}

.customerHeader, .customer {
    width: 250px;
    min-width: 250px;  
}

.customerHeader:Hover {
        background-color: rgb(112, 112, 112);
    color: black;
    cursor: pointer;
}

.TimeHeader {
    border-radius: 0px 50px 50px 0px;
    padding-right: 50px;
}

.stationHeader:hover {
    background-color: rgb(112, 112, 112);
    color: black;
    cursor: pointer;
}
.customer {
    text-align: left;
    border-radius: 50px 0px 0px 50px;
    color: rgb(207, 207, 207);
    font-size: 15px;
    font-weight: bolder;
}

.station {
    color: rgb(255, 255, 255);
}

.IP {
    color: rgb(174, 216, 110);
}

.Date {
    color: rgb(207, 207, 207);

}

.time {
    color: rgb(174, 216, 110);
    border-radius: 0px 50px 50px 0px;

}


#PWCS {
    color: rgb(255, 255, 0);

}

#AACPS{

    color: rgb(183, 107, 255);

}

#GHOST {
    color: rgb(0, 0, 255);

}

#DISCONNECTED {
    color: RED;
}